<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <div id="logo">
        <a href="/"><img id="logo-img" src="https://i.imgur.com/XLSdDc1.png"></a>
      </div>
      <div id="nav-links">
      <% if (user) { %>
       <a class = "nav-items" href="/playlists">Your Playlists</a>
       <a class = "nav-items" href="/logout">Log Out</a>
       <% } else { %>
      <a class = "nav-items" href="/auth/google">Log In</a>
      <% } %>
      <a class = "nav-items" href="/playlists/publicPlaylists">Public Playlists</a>
      </div>
    </nav>