<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <div id="logo">
        <a href="/"><img id="logo-img" src="https://i.imgur.com/XLSdDc1.png"></a>
      </div>
      <div id="nav-links">
<<<<<<< HEAD
      <% if (user) { %>
       <a class = "nav-items" href="#">Your Playlists</a>
       <a class = "nav-items" href="/logout">Log Out</a>
       <% } else { %>
      <a class = "nav-items" href="/auth/google">Log In</a>
      <% } %>
=======
       <a class = "nav-items" href="/playlists">Your Playlists</a>
      <a class = "nav-items" href="#">Log In</a>
>>>>>>> 5ceba01f978b34b39eaa79c5a6bbe2b29dbcc9ad
      </div>
    </nav>