<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <div id="logo">
        <a href="/"><img id="logo-img" src="https://i.imgur.com/XLSdDc1.png"></a>
      </div>
      <div id="nav-links">
       <a class = "nav-items" href="#">Your Playlists</a>
      <a class = "nav-items" href="#">Log In</a>
      </div>
    </nav>