<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/home-page.css'/>
  </head>
  <body>
    <nav>
      <% if (user) { %>
        <a class = "nav-items" href="#">Your Playlists</a>
        <a class = "nav-items" href="/logout">Log Out</a>
        <% } else { %>
       <a class = "nav-items" href="/auth/google">Log In</a>
       <% } %>
    </nav>
    <div id="logo">
      <img id="logo-img" id="select-text" src="https://i.imgur.com/XLSdDc1.png">
    </div>
<div id="search-song">
    <h2 id="select-text">Search For Songs</h2>
    <form id="search-song-form" action="/songs/songresults" method="POST">
      <input id="search-song-input" type="text" name="name" placeholder="search songs...">
      <br><input id="search-song-btn" type="submit" value="Search">
    </form>
    <%- include('./partials/footer') %>
</div>
