<%- include('./partials/header') %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <br><br><h2>Search For a Song</h2>
    <form id="add-performer-form" action="/songs/songdetails" method="POST">
      <label>Name:</label>
      <input type="text" name="name">
      <input type="submit" value="Search Song">
    </form>
    <%- include('./partials/footer') %>
