@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Protest+Riot&display=swap');
html {
  height: 100%;
}
body {
  background-color: black;
  color: white;
  background-color: #16e116;
  background-image: url('https://cdn.pixabay.com/photo/2017/02/12/12/42/wall-2059909_640.png');
  min-height: 100%;
}

.user-container {
  margin: 3% 5%;
  /* margin-top: 3%;
  margin-left: 5%; */
  align-items: flex-start;
  /* align-content: space-between; */
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 40px;
  font-family: 'Times New Roman', Times, serif; */
  justify-content: flex-start;
  /* justify-content: space-around; */
}
.playlist-container {
  /* font-family: 'Times New Roman', Times, serif; */
  /* justify-content: flex-end; */
  /* justify-content: start; */
  /* align-items: center; */
  /* align-content: space-between; */
  /* margin: 3% 3%; */
  display: flex;
  /* justify-content: flex-end; */
  flex-direction: row-reverse;
  background-color: #ef1b0f;
  column-gap: 50vw;
  /* align-items: flex-start; */
  align-content: space-between;
}
.user-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.user-container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.addPlaylist-container {
  /* margin-top: 3%;
  margin-right: 5%; */
  margin: 3% 5%;
  display: flex;
  align-self: flex-end;
}

.user-details {
  display: flex;
  flex-direction: column;
  gap: 1px;
  justify-content: first baseline;
}
.playlist-container {
  display: flex;
}
