@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Protest+Riot&display=swap');
html {
  height: 100%;
}
body {
  background-color: black;
  color: white;
  background-color: #16e116;
  background-image: url('https://cdn.pixabay.com/photo/2017/02/12/12/42/wall-2059909_640.png');
  min-height: 100%;
}

.user-container {
  width: 30%;
  margin-left: 20px;
  border: 0.2rem solid #fff;
  border-radius: 1rem;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #002487,
    0 0 0.8rem #002487, 0 0 2.8rem #002487, inset 0 0 1.3rem #002487;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
}
.playlist-user-container {
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin-bottom: 5%;
  margin-top: 2%;
}

.user-container img {
  width: 100px;
  height: 100px;
  border-radius: 30%;
  padding-top: 2%;
}

.addPlaylist-container {
  min-width: max-content;
  font-size: 1vw;
  display: flex;
  margin-right: 10%;
  align-items: center;
  flex-wrap: wrap;
  font-size: medium;
  flex-direction: column;
  margin-left: 30%;
  margin-top: 1%;
}
.addPlaylist-container label {
  text-align: center;
  width: 155%;
}

/* button css from taken from https://uiverse.io/adamgiebl/ugly-robin-41 */
.add-playlist-btn,
.listplaylist-btn,
.update-btn {
  width: max-content;
  margin: 4vh auto;
  --red: #ce0d0d;
  font-size: 1.5vh;
  padding: 0.9em 2em;
  border-radius: 50px;
  transition: all 0.3s;
  border: 2px solid white;
  margin-left: 50%;
  background: linear-gradient(
    to right,
    rgba(253, 148, 27, 0.1) 1%,
    transparent 40%,
    transparent 60%,
    rgba(253, 208, 27, 0.1) 100%
  );
  color: white;
  box-shadow: inset 0 0 10px rgba(209, 33, 106, 0.4),
    0 0 9px 3px rgba(221, 31, 14, 0.1);
}
.add-playlist-btn:hover,
.listplaylist-btn:hover,
.update-btn:hover {
  color: #bf150c;
  box-shadow: inset 0 0 10px rgba(253, 57, 27, 0.6),
    0 0 9px 3px rgba(253, 80, 27, 0.2);
}
.update-btn {
  margin: 5% auto;
}
#search-song-form {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 150px;
}
.description-box {
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.playlist-container {
  display: flex;

  flex-direction: row;
  align-items: center;
  width: fit-content;
  justify-content: space-between;

  border-radius: 1rem;
  max-height: 100%;
}

.edit-playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
  border-radius: 1rem;
  width: 35%;
  height: 25vw;
  margin-left: 33%;
  margin-bottom: 90%;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #002487,
    0 0 0.8rem #002487, 0 0 2.8rem #002487, inset 0 0 1.3rem #002487;
}
.edit-playlist form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  height: 10%;
  font-weight: bold;
  margin-bottom: 20%;
  padding-top: 5%;
  padding-bottom: 1%;
}

.edit-text-box {
  margin: 2% auto;
  width: 70%;
  min-height: 40px;
  border-radius: 10vw;
  text-align: center;
  font-size: 0.7vw;
  border-bottom: 3px rgb(0, 17, 255) solid;
}

.addplaylist-text-box {
  height: 1.5vw;
  width: 155%;
  border-radius: 10vw;
  text-align: center;
  font-size: 0.7vw;
  width: 155%;
  border-bottom: 3px rgb(129, 135, 227) solid;
}
h1 {
  color: white;
  margin: 2% 44%;
  width: max-content;
  font-size: 5vh;
  color: rgb(255, 255, 255);
  font-family: 'Caveat', cursive;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0033ab,
    0 0 82px #0033ab;
  animation: pulsate 1.7s infinite alternate;
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 0.4em;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #0033ab,
    0 0 0.8rem #0033ab, 0 0 2.8rem #0033ab, inset 0 0 1.3rem #0033ab;
}
.addPlaylist-container-heading {
  display: flex;
  width: 100%;
  color: white;
  margin: 5% auto;
  width: max-content;
  font-size: 5vh;
  color: rgb(255, 255, 255);
  font-family: 'Caveat', cursive;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0033ab,
    0 0 82px #0033ab;
  animation: pulsate 1.7s infinite alternate;
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 0.8em;
  margin-bottom: 20%;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #0033ab,
    0 0 0.8rem #0033ab, 0 0 2.8rem #0033ab, inset 0 0 1.3rem #0033ab;
}

.checkbox-container {
  display: flex;
  align-items: center;
  padding-left: 50%;
}

.listplaylist-btn {
  width: max-content;
  margin: 4vh auto;
  margin-left: 15%;
}

.playlist-deds {
  display: flex;
  align-items: center;
}

.playlist-container-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 70%;
  row-gap: 10vh;
  column-gap: 20vh;
  margin: 0 auto;
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #0033ab,
    0 0 0.8rem #0033ab, 0 0 2.8rem #0033ab, inset 0 0 1.3rem #0033ab;
}

.playlist-name {
  margin: 0;
  min-width: 20vh;
}
.playlist-status {
  margin-right: 30%;
}
