h1 {
  color: white;
  margin: 2% auto;
  width: max-content;
  font-size: 5vh;
  color: rgb(255, 255, 255);
  font-family: 'Caveat', cursive;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0033ab,
    0 0 82px #0033ab;
  animation: pulsate 1.7s infinite alternate;
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 0.4em;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #0033ab,
    0 0 0.8rem #0033ab, 0 0 2.8rem #0033ab, inset 0 0 1.3rem #0033ab;
}

@keyframes pulsate {
  100% {
    text-shadow: 0 0 3px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0033ab,
      0 0 80px #0033ab;
  }

  0% {
    text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 10px #0033ab,
      0 0 45px #0033ab, 0 0 55px #0033ab;
  }
  100% {
    box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #0033ab;
  }
  0% {
    box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #0033ab,
      0 0 0.8rem #0033ab, 0 0 2.8rem #0033ab, inset 0 0 1.3rem #0033ab,
      0 0 3rem #0033ab, inset 0 0 3.5rem #0033ab;
  }
}

#all-songs::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

#all-songs::-webkit-scrollbar-track {
  background: #f1f1f100;
  border-radius: 50px;
}

#all-songs::-webkit-scrollbar-thumb {
  background: #d24fc1;
  border-radius: 50px;
}

#all-songs::-webkit-scrollbar-thumb:hover {
  background: #a51e00;
  border-radius: 50px;
}
#playlist-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  column-gap: 100px;
  flex-wrap: wrap;
  row-gap: 150px;
  max-width: 70%;
}
#song-image {
  width: 92px;
  height: 97px;
  border: 0.5px rgb(255, 255, 255) solid;
  border-top-right-radius: 50px;
}

#song-container {
  display: flex;
  border: 1px white solid;
  outline: 3px white solid;
  outline-offset: -4px;
  width: 60vh;
  max-height: 15vh;
  background-color: rgba(0, 0, 0, 0.608);
  overflow: hidden;
}
#song-container:first-child {
  border-top-left-radius: 27px;
  border-top-right-radius: 20px;
}
#playlists,
#all-songs {
  height: 60vh;
}
#all-songs {
  padding-right: 1px;
  overflow: auto;
  border-radius: 38px;
  border-top: 3px white solid;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #0033ab,
    0 0 0.8rem #0033ab, 0 0 2.8rem #0033ab, inset 0 0 1.3rem #0033ab;
}
#song-title {
  font-weight: 550;
  font-size: 1.9vh;
  font-family: 'Teko', sans-serif;
  margin: 14px 10px 0px 10px;
}
#artist-name {
  font-style: italic;
  font-size: 1.5vh;
}
#artist-name-container {
  margin: 0px 10px 25px 10px;
  padding: 0;
  font-size: 1.2vh;
}
#playlists h4 {
  color: rgb(255, 255, 255);
  font-family: 'Caveat', cursive;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0033ab,
    0 0 82px #0033ab;
  font-size: 2.5vh;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin: 0;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding: 5%;
}
audio {
  background-color: white;
  width: 50vh;
  height: 25px;
  border-bottom: 1px white solid;
}

audio::-webkit-media-controls-panel {
  background-color: #ffffff;
}
