html,
body {
  height: 100%;
}
body {
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#cover {
  width: 100px;
  height: 100px;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  background: rgb(0, 0, 0);
  border-bottom: 1px white solid;
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 35%, rgb(68, 0, 0) 100%);
}
#nav-links {
  margin-top: 40px;
}
#logo-img {
  width: 100px;
}
.nav-items {
  margin-left: 25px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  color: #ffffff;
  padding: 10px;
  border: 2px white solid;
  border-radius: 20px;
}
.nav-items:hover {
  color: rgb(227, 12, 12);
}
