body,
h1,
h2,
h3,
h4,
h5,
p,
form {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  background-image: url('https://cdn.pixabay.com/photo/2017/02/12/12/42/wall-2059909_640.png');
  line-height: 1.6;
}

.page-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}
.playlist-details {
  border: 0.1rem solid #fff;
  border-radius: 1rem;
  width: 35%;
  height: 15%;
  padding: 20px;
  margin-right: 20px;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #002487,
    0 0 0.8rem #002487, 0 0 2.8rem #002487, inset 0 0 1.3rem #002487;
}

.playlist-header {
  margin-bottom: 20px;
}

.playlist-name {
  font-size: 24px;
  color: #fff;
  margin-bottom: 10px;
}

.playlist-description p {
  font-size: 16px;
  color: #fff;
}

.playlist-actions {
  display: flex;
  justify-content: space-around;
  margin-top: -5%;
  margin-bottom: -10%;
}

.delete-form,
.update-form {
  flex-basis: 48%;
}

.delete-button,
.update-button {
  cursor: pointer;
  width: 200px;
  margin: 6vh auto;
  --red: #ce0d0d;
  font-size: 1.5vh;
  padding: 0.9em 4em;
  border-radius: 50px;
  transition: all 0.3s;
  border: 2px solid white;
  background: white;
  color: black;
  box-shadow: inset 0 0 10px rgba(209, 33, 106, 0.4),
    0 0 9px 3px rgba(221, 31, 14, 0.1);
}

.songs-container {
  height: 550px;
  overflow-x: hidden;
  overflow-y: scroll;
  border: 0.1rem solid #fff;
  border-radius: 1rem;
  width: 60%;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #002487,
    0 0 0.8rem #002487, 0 0 2.8rem #002487, inset 0 0 1.3rem #002487;
}

.song-item {
  border: 1px white solid;
  outline: 3px white solid;
  outline-offset: -4px;
  max-height: 15vh;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.song-item:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 8px;
}
.song-cover img {
  width: 100px;
  height: 100px;
  margin-bottom: -5px;
  border: 0.5px rgb(255, 255, 255) solid;
  border-top-right-radius: 50px;
}

.song-details {
  flex-grow: 1;
}

.song-name {
  font-family: 'Teko', sans-serif;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  margin-bottom: 5px;
  display: block;
}

.song-artist {
  font-style: italic;
  font-size: 16px;
  color: #d4cccc;
}

.remove-song-form {
  flex-basis: 25%;
  margin-bottom: -9%;
}

.remove-song-button {
  padding: 10px 20px;
  transition: all 0.3s;
  border: 2px solid white;
  background: #e74c3c;
  color: white;
  cursor: pointer;
}
.remove-song-button {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.delete-button:hover {
  color: white;
  background-color: red;
}
.update-button:hover {
  color: white;
  background-color: blue;
}
.remove-song-button:hover {
  color: white;
  background-color: red;
}
.delete-button:hover,
.update-button:hover,
.remove-song-button:hover {
  opacity: 0.9;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgb(241, 241, 249);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e0e4f1;
}
audio {
  background-color: white;
  width: 64vh;
  height: 25px;
  border-bottom: 1px white solid;
  margin-bottom: -12px;
}

audio::-webkit-media-controls-panel {
  background-color: #ffffff;
}
.num {
  opacity: 0.8;
}
a:visited {
  color: white;
}
