body,
h1,
h2,
h3,
h4,
h5,
p,
form {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  background-image: url('https://cdn.pixabay.com/photo/2017/02/12/12/42/wall-2059909_640.png');
  line-height: 1.6;
}

.page-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}
.playlist-details {
  border: 0.1rem solid #fff;
  border-radius: 1rem;
  width: 35%;
  padding: 20px;
  margin-right: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.playlist-header {
  margin-bottom: 20px;
}

.playlist-name {
  font-size: 24px;
  color: #fff;
  margin-bottom: 10px;
}

.playlist-description p {
  font-size: 16px;
  color: #fff;
}

.playlist-actions {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.delete-form,
.update-form {
  flex-basis: 48%;
}

.delete-button,
.update-button {
  width: max-content;
  margin: 4vh auto;
  --red: #ce0d0d;
  font-size: 1.5vh;
  padding: 0.9em 2em;
  border-radius: 50px;
  transition: all 0.3s;
  border: 2px solid white;
  background: #ce0d0d;
  color: white;
  box-shadow: inset 0 0 10px rgba(209, 33, 106, 0.4),
    0 0 9px 3px rgba(221, 31, 14, 0.1);
}

.update-button {
  background: #3498db;
}
.songs-container {
  border: 0.1rem solid #fff;
  border-radius: 1rem;
  width: 60%;
}

.song-item {
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.song-cover img {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}

.song-details {
  flex-grow: 1;
}

.song-name {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  margin-bottom: 5px;
  display: block;
}

.song-artist {
  font-size: 16px;
  color: #d4cccc;
}

.remove-song-form {
  flex-basis: 25%;
}

.remove-song-button {
  padding: 10px 20px;
  border: none;
  background: #e74c3c;
  color: white;
  cursor: pointer;
}

.delete-button:hover,
.update-button:hover,
.remove-song-button:hover {
  opacity: 0.9;
}

.playlist-details,
.songs-container {
  width: 100%;
  margin-right: 0;
  margin-bottom: 20px;
}
